

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.app-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items :center;
}
.content{
    width: 100%;
    display: flex;justify-content: center;align-items: center;text-align: center;
    flex-direction:column ;max-width: 420px; /* desktop control */
    box-shadow: 0px 2px 4px dodgerblue;
    border-radius: 10px;
    background-image: url('./assets/background.jpg');
    background-position: center;background-size: cover;
}
.back{
 backdrop-filter: blur(10px);
 padding: 10px 20px;border-radius: 10px;
 color: #fff;
}

/* Tablet */
@media (min-width: 600px) {
    .content {
        max-width: 520px;
        padding: 28px;
    }

    .back {
        padding: 20px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .content {
        max-width: 600px;
        padding: 32px;
    }
}